*{
    font-family: "Inter";
    margin: 0;
}

/*First*/
.containerOne{
    height: 100px;
    background-color:#1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 256px;
    padding-right: 256px;
}

#hLogo{
    font-size: 24px;
    color: #f9faf8;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 500px;
    font-size: 18px;
    color: #E5E7EB;
}

li{
    
}
/*Second*/

.containerTwo{
    min-height: 450px;
    background-color: #1f2937;
    /*Can replace*/
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 256px;
    padding-right: 256px;

}

.box{
    width: 576px;
    height: 256px;
}

.box h1{
    font-size: 48px;
    font-weight: 900;
    max-width: 400px;
}
.box p{
    font-size: 18px;
    margin: 20px 0px 20px;
    max-width: 550px;
}

.box button{
    background-color: #3882f6;
    border: none;
    color: #E5E7EB;
    width: 148px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
}


#boxTwo{
    background-color: #63676f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerThree{
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerFour{
    height: 400px;
    display: flex;
    justify-content: center;

}

.boxFour{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 32px;
}

.boxFour p{
    width: 198px;
}

.imgBox{
    width: 180px;
    height: 180px;
    border: 5px solid  #3882f6;
    border-radius: 16px;
    margin-bottom: 10px;
}

.containerFive{
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.containerFive p{
    height: 200px;
    width: 700px;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
}

.boxY{
    width: 700px;
    display: flex;
    justify-content: end;
    
}

.boxY h1{
    font-size: 18px;
}

.containerSix{
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxAction{
    width: 900px;
    height: 170px;
    background-color: #3882f6;
    border-radius: 10px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.boxAction button{
    height: 54px;
    width: 160px;
    background-color: #3882f6;
    border-style: ;
    color: #E5E7EB;
    font-size: 24px;
    border-radius: 10px;
    font-weight: 600;
    border: 2px solid #E5E7EB;
}

.containerSeven{
    height: 100px;
    background-color: #1f2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}