*{
    font-family: "Inter";
    margin: 0;
}

/*First*/
.containerOne{
    height: 100px;
    background-color:#1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 256px;
    padding-right: 256px;
}

#hLogo{
    font-size: 24px;
    color: #f9faf8;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 500px;
    font-size: 18px;
    color: #E5E7EB;
}

li{
    
}
/*Second*/

.containerTwo{
    height: 450px;
    background-color: #1f2937;
    /*Can replace*/
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 256px;
    padding-right: 256px;

}

.box{
    width: 576px;
    height: 256px;
}

.box h1{
    font-size: 48px;
    font-weight: 900;
    max-width: 400px;
}
.box p{
    font-size: 18px;
    margin: 20px 0px 20px;
    max-width: 550px;
}

.box button{
    background-color: #3882f6;
    border: none;
    color: #E5E7EB;
    width: 128px;
    height: 38px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
}


#boxTwo{
    background-color: #63676f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerThree{
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerFour{
    height: 500px;
    background-color: #e7ecf3;
    display: flex;
    justify-content: center;

}

.boxFour{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 32px;
}

.boxFour p{
    width: 198px;
}

.imgBox{
    width: 180px;
    height: 180px;
    border: 5px solid  #3882f6;
    border-radius: 16px;
    margin-bottom: 10px;
}

.containerFive{
    background-color: #3882f6;
    height: 500px;
}